<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <style>
    .navbar{
      position:sticky;
      font-size :1.2rem;
      min-height: 2rem;
      padding: 0.5rem 0rem;
      display:flex;
      flex-direction:row-reverse;
      background:#74a66a;
    }
    .navbar{
      background:#74a66a;
    }
    a{
      margin: 1rem;
      background:transparent;
      color: black;
      text-decoration:none;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <nav class="navbar">
    <a href="#about">About</a>
    <a href="#career-listings">Apply</a>
    <a href="#contact">Contact</a>
  </nav>
</body>
</html>